@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes backRotate {
    to {
        transform: rotate(0deg);
    }
}